body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 0;
}

section, aside, div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.results-console {
  position: absolute;
  right: 0;
  top: 1rem;
  border-left: 3px solid black;
  width: 30%;
  box-sizing: border-box;
}
